/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.btn {
  margin-top: .5em;
}

.btn span {
  vertical-align: middle;
}

.cost {
  display: inline-block;
  width: 30%;
}
.support {
  display: inline-block;
  width: 65%;
}

.update .header {
  font-weight: bold;
  font-size: 125%;
}

.update .left {
  display: inline-block;
  width: 40%;
}

.update .right {
  display: inline-block;
  width: 58%;
}

.update p {
  margin-top: .5em;
}
.update hr {
  margin: .5em 0 1em 0;
}

.quality-band span {
  font-weight: bold;
}
