@charset "utf-8";

div.suggestions { background: #f2f2f2 url(/images/global/autosuggest-bg.gif) repeat-x bottom; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #bbbaba; position: absolute; text-align: left; width: 316px; font-size: 12px; }
div.suggestions div { cursor: pointer; padding: 10px; color: #443b35; }
div.suggestions div.current { background-color: #ebb229; color: #fff; }