@charset "utf-8";
/*
	(c) VersionOne, Inc.
	Website QuickDetails:
		- Site Color => 78082d;
		- Site Width => 963px;
*/
html, * { margin: 0; padding: 0; }
body {
	 margin: 0; padding: 0;
	/*font-family: "Lucida Sans Unicode","Lucida Grande", Arial, Helvetica, sans-serif;*/
	font-family: "Segoe UI", Lucida Sans Unicode, Lucida Grande, sans-serif;
	text-align: center;
}
a, a:focus, input {
	outline: none;
}
/*body { margin: 0; padding: 0; font-family: "Lucida Sans Unicode","Lucida Grande", Arial, Helvetica, sans-serif; font-size: 11px; color: #7e7571; text-align: center; }*/
img { border: 0; }
a { color: #00496b; text-decoration: underline; }
a:hover { color: #78082d; text-decoration: none; }
p { margin: 0; padding: 8px 0; line-height: 1.4em; }
form { margin: 0; padding: 0; }
hr { margin: 10px 0; padding: 0; color: #dcdcdc; background-color: #dcdcdc; height: 1px; border: 0; }
.clear { clear: both; }
/* ================================ Layout / Page */
.page {
	margin: 0 auto;
	width: 1000px;
	text-align: left;
	position: relative;
	min-width: 1000px;
}
.page .list-el {
	margin: 0 0 0 40px;
	padding: 15px 0;
}
.page .list-el li {
	padding-bottom: 18px;
}
/* ================================ end | Layout / Page */
/* ================================ Header */
.tip-top {
	background: url("../images/footer-bg.png") bottom repeat-x;
	min-width: 1000px;
}
.tip-top .page {
	padding: 6px 0 !important;
}
.tip-top .page ul {
	margin: 0;	
	list-style: none;
	float: right;
}
.tip-top .page li {
	float: left;
}
.tip-top .get-social a {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("../images/footer-sprite.png");
	background-repeat: no-repeat;
	text-indent: -9000em;
	overflow: hidden;
	-webkit-transition: background .2s ease-out .2s;
    -moz-transition: background .2s ease-out .2s;
    -o-transition: background .2s ease-out .2s;
    transition: background .2s ease-out .2s;
	border-radius: 2px 2px;
	margin: 0 6px;
}
.tip-top .get-social .linkedin {
	background-position: -9px -69px;
	background-color: #84b5d1;
}
.tip-top .get-social .twitter {
	background-position: -32px -69px;
	background-color: #73ace2;
}
.tip-top .get-social .facebook {
	background-position: -54px -69px;
	background-color: #47549e;
}
.tip-top .get-social .contact {
	background-position: -145px -69px;
	background-color: #ebb229;
}
.tip-top .get-social .blogs {
	background-position: -165px -69px;
	background-color: #e8c03a;
}
.tip-top .get-social .linkedin:hover {
	background-position: -9px -92px;
}
.tip-top .get-social .twitter:hover {
	background-position: -32px -92px;
}
.tip-top .get-social .facebook:hover {
	background-position: -54px -92px;
}
.tip-top .get-social .contact:hover {
	background-position: -145px -92px;
}
.tip-top .get-social .blogs:hover {
	background-position: -165px -92px;
}
.tip-top .get-social a:hover {
	background-color: #efefef;
}
.tip-top .get-social .txt a {
	background-image: none;
	text-indent: 0;
	color: #fff;
	text-decoration: none;
	width: auto;
	height: auto;
	font-size: 12px;
	padding: 2px 5px 2px 5px;
}
.tip-top .get-social .txt a:hover {
	background: #efefef;
	color: #333;
}

#header {
	height: 80px;
	/*background: #fff url(../img/header-bg.png) bottom repeat-x;*/
	background: #f9f9f9;
	min-width: 1000px;
}
/* Branding */
#header .logo {
	width: 244px;
	height: 45px;
	position: absolute;
	top: 7px;
}
#header .logo a {
	width: 244px;
	height: 45px;
	background: url("../images/versionone-agile-made-easier-logo.png") no-repeat;
	text-indent: -9000em;
	overflow: hidden;
	display: block;
}
/* end | Branding */
/* Global Nav */
#header ul {
	float: left;
}
#header ul li {
	display: inline-block;
	float: left;
	position: relative;
}
#header ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none
}

#header .global-menu-bottom a {
	display: block;
	padding: 0 20px;
	text-decoration: none
}
#header .global-menu-bottom a.last {
	display: block;
	padding: 0 10px 0 20px;
	text-decoration: none
}
#header ul li a:hover {
	color: #78082d;
}
#header .global-menu-top {
	position: absolute;
	right: 0;
}
#header .global-menu-top {
	top: 20px;
}
#header .global-menu-top a {
	font-size: 12px;
	color: #444;
}
#header .global-menu-bottom {
	position: absolute;
	right: 0;
}
#header .global-menu-bottom {
	top: 20px;
}
#header .global-menu-bottom a {
	font-size: 16px;
	color: #000;
}
#header form {
	position: absolute;
	right: 0;
}
/* end | Global Nav */
/* MegaNav */
#navbar li .mega-box {
	position: absolute;
	top:-99999px; 
	left:0;
	width: 10em;
	opacity: 0;
	background: #fff url("../img/mega-nav-bg.png") bottom repeat-x;
	border: 1px solid #cbcbcb;
	z-index:497; 
}
#navbar li:hover .mega-box, 
#navbar li.hover .mega-box {
	width: 450px;
	height: 200px;
	position: absolute;
	top: 30px;
	opacity: 1;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	text-align: left;
	-moz-box-shadow: 0 3px 10px #ccc;
	-webkit-box-shadow: 0 3px 10px #ccc;
	box-shadow: 0 3px 10px #ccc;
}
#navbar li:hover .mega-box .arrow, 
#navbar li.hover .mega-box .arrow {
	position: absolute;
	top: -15px;
	left: 20px;
}
#navbar li:hover li, 
#navbar li.hover li {
   float: none;
   display: block; 
}
#navbar li:hover li a, 
#navbar li.hover li a {
   font-size: 13px;
   color: #000;
}
.mega-box ul { float: none; }
.mega-box ul li {
	padding: 8px;
}
#navbar li li a:hover {
   background-color: #8db3ff; 
}   
/* end | MegaNav */
/* Global Search */
#header form {
	top: 45px;
	right: 5px;
}
#header form input {
	background: #fff;
	padding: 4px 30px 4px 10px;
	font-size: 12px;
	border: 1px solid #efefef;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #666;
}
#header form .btn {
	position: absolute;
	top: 0;
	right: 5px;
	border: 0;
	background: none;
	padding: 6px;
	font-size: 12px;
}
/* end | Global Search */
/* ================================ end | header */

/*
#header { background: url(/images/global/header-bg.gif) repeat-x bottom; height: 81px; }
#header .inner { margin: 0 auto; width: 963px; text-align: left; }
#header h1 { float: left; margin: 0; padding: 0; background: url(/images/global/v1-logo.gif) no-repeat; width: 234px; height: 81px; }
#header h1 a { display: block; width: 234px; height: 81px; text-indent: -9000em; overflow: hidden; }
*/
#menu { float: right; width: 75%; text-align: right; }
#menu ul { float: right; margin: 0; padding: 0; list-style: none; }
#menu ul li { float: left; padding: 0 1px; }
#menu ul li a { display: block; text-decoration: none; font-family: Helvetica, Arial, sans-serif; }
#menu .t { margin-right: 10px; padding: 6px 0; }
#menu .t li.divider { background: url(/images/global/t-nav-divider.gif) no-repeat 0 4px; }
#menu .t a { display: block; padding: 3px 10px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 9px; color: #8d8d8d; text-transform: lowercase; }
#menu .t a:hover { background: #f1f1f1; }
#menu .t a.active { display: block; padding: 3px 10px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 9px; color: #78082d; text-transform: lowercase; }
#menu .b { margin: 0; padding: 5px 10px 10px 10px; }
#menu .b li a { display: block; font-size: 14px; color: #4e4e4e; height: 1%; }
#menu .b li a .br { display: block; padding: 7px 10px; height: 1%; }
#menu .b li a:hover { background: #8d0a39 url(/images/global/menu-tl.gif) no-repeat; color: #fff; }
#menu .b li a:hover .tr { display: block; background: url(/images/global/menu-tr.gif) no-repeat top right; }
#menu .b li a:hover .bl { display: block; background: url(/images/global/menu-bl.gif) no-repeat bottom left; }
#menu .b li a:hover .br { display: block; background: url(/images/global/menu-br.gif) no-repeat bottom right; }
#menu .b li a.active { display: block; background: #8d0a39 url(/images/global/menu-tl.gif) no-repeat; color: #fff; }
#menu .b li a.active .tr { display: block; background: url(/images/global/menu-tr.gif) no-repeat top right; }
#menu .b li a.active .bl { display: block; background: url(/images/global/menu-bl.gif) no-repeat bottom left; }
#menu .b li a.active .br { display: block; background: url(/images/global/menu-br.gif) no-repeat bottom right; }

#toolbar { background: #ededed; border-top: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; text-align: left; }
#toolbar .inner { margin: 0 auto; width: 963px; }
#toolbar .inner .search { float: right; margin-right: 12px; }
#toolbar .inner .search ul { margin: 0; padding: 0; list-style: none; }
#toolbar .inner .search ul li { float: left; padding: 4px; }
/*
#toolbar .inner .search .search-box { background: url(/images/global/search-box.gif) no-repeat; width: 328px; height: 38px; }
#toolbar .inner .search .search-box input { margin: 5px 0 0 13px; padding: 8px 0 5px 0; background: none; font-size: 11px; color: #60554f; width: 310px; border: 0; }
*/

#toolbar .inner .breadcrumbs { float: left; width: 52%; font-size: 10px; color: #807874; }
#toolbar .inner .breadcrumbs ul { margin: 0; padding: 0; list-style: none; }
#toolbar .inner .breadcrumbs ul li { float: left; padding: 3px 2px 0 2px; text-transform: capitalize; }
#toolbar .inner .breadcrumbs ul li.arrow { padding: 0; background: url(/images/global/bread-arrow.gif) no-repeat 50% 18px; width: 5px; height: 38px; }
#toolbar .inner .breadcrumbs a.active { display: block; padding: 9px; color: #58504d; text-decoration: none; border: 1px solid #ededed; }
#toolbar .inner .breadcrumbs a { display: block; padding: 9px; color: #807874; text-decoration: none; border: 1px solid #ededed; }
#toolbar .inner .breadcrumbs a:hover { background: url(/images/global/bread-link-over-bg.gif) repeat-x bottom; color: #cb632a; border: 1px solid #dcdcdc; }

#toolbar .inner .utilities { float: left; width: 10%; }
#toolbar .inner .utilities ul { margin: 0; padding: 0; list-style: none; }
#toolbar .inner .utilities ul li { float: left; padding: 3px 2px 0 2px; }
#toolbar .inner .utilities ul li a { display: block; border: 1px solid #ededed; width: 25px; height: 30px; text-indent: -9000em; overflow: hidden; }
#toolbar .inner .utilities ul li a.print-btn { background: url(/images/global/print-btn.gif) no-repeat 50%; }
#toolbar .inner .utilities ul li a.txt-sm-btn { background: url(/images/global/txt-sm-btn.gif) no-repeat 50%; }
#toolbar .inner .utilities ul li a.txt-lg-btn { background: url(/images/global/txt-lg-btn.gif) no-repeat 50%; }
#toolbar .inner .utilities ul li a:hover { background-color: #f4f4f4; border: 1px solid #dcdcdc; }

#container { margin: 0 auto; width: 963px; text-align: left; }

/* Calls to Actions Product Pages */
.productOverviewBTN { float: left; width: 245px; margin: 0 35px 0 85px;  }
.productOverviewBTN a { display: block; background: url(../images/global/product-overview-cta.png) no-repeat; text-indent: -9000em; height: 32px; overflow: hidden; }
.productOverviewBTN a:hover { background-position: bottom; }

.productDemoBTN { float: left; width: 245px;  }
.productDemoBTN a { display: block; background: url(../images/global/product-demo-cta.png) no-repeat; text-indent: -9000em; height: 32px; overflow: hidden; }
.productDemoBTN a:hover { background-position: bottom; }
/* Calls to Actions Product Pages */

.right-panel { float: left; width: 169px; }
.right-panel ul { margin: 0; padding: 0; list-style: none; }
.right-panel a { display: block; color: #756a64; }
.right-panel .callstoaction { }
.right-panel .callstoaction li { padding: 0 0 4px 0; }
.right-panel .callstoaction a { width: 169px; height: 60px; text-indent: -9000em; }
/* General Calls to Actions */
.right-panel .callstoaction .see { background: url(/images/global/callstoaction-see.gif) no-repeat; }
.right-panel .callstoaction .drive { background: url(/images/global/callstoaction-drive.gif) no-repeat; }
.right-panel .callstoaction .try { background: url(/images/global/callstoaction-try.gif) no-repeat; }
.right-panel .callstoaction .get { background: url(/images/global/callstoaction-get.gif) no-repeat; }
.right-panel .callstoaction .request { background: url(/images/global/callstoaction-request.gif) no-repeat; }
/* end of General Calls to Actions */
/* Agile101 Calls to Actions */
.right-panel .callstoaction .getresources { background: url(/images/global/callstoaction-getAgileResources.gif) no-repeat; height: 60px; }
.right-panel .callstoaction .chronicals { background: url(/images/global/callstoaction-agileChronicals.gif) no-repeat; height: 60px; }
.right-panel .callstoaction .agilePoster { background: url(/images/global/callstoaction-agilePoster.gif) no-repeat; height: 60px; }
.right-panel .callstoaction .agileTraining { background: url(/images/global/callstoaction-agileTraining.gif) no-repeat; height: 60px; }
/* end of Agile101 Calls to Actions */
/* Partners Calls to Actions */
.right-panel .callstoaction .freetrial { background: url(/images/global/callstoaction-freetrial.gif) no-repeat; }
.right-panel .callstoaction .referaclient { background: url(/images/global/callstoaction-referaclient.gif) no-repeat; }
.right-panel .callstoaction .attendawebinar { background: url(/images/global/callstoaction-attendawebinar.gif) no-repeat; }
.right-panel .callstoaction .fiftyfifty { background: url(/images/global/callstoaction-5050.gif) no-repeat; }
/* end of Partners Calls to Actions */
.right-panel .callstoaction a:hover { background-position: bottom; }
.right-panel blockquote { margin: 0; padding: 15px 5px; font-size: 11px; color: #222; }
.right-panel .title-quicklinks { margin: 0; padding: 0; background: url(/images/global/title-quicklinks.gif) no-repeat 10px 50%; height: 30px; text-indent: -9000em; overflow: hidden; border-bottom: 1px solid #eae9e9; }
.right-panel .quicklinks { padding: 4px 0; }
.right-panel .quicklinks li { padding: 2px 0; }
.right-panel .quicklinks a { margin: 0 4px; }
.right-panel .quicklinks .a { padding: 4px 6px 4px 25px; }

.right-panel .whitepaper-btn .a { background: url(/images/global/ql-whitepaper-icon.gif) no-repeat 0 50%; }
.right-panel .productvideos-btn .a { background: url(/images/global/ql-productvideos-icon.gif) no-repeat 2px 50%; }
.right-panel .demo-btn .a { background: url(/images/global/demo-icon.gif) no-repeat 5px 50%; }
.right-panel .datasheets-btn .a { background: url(/images/global/datasheets-icon.gif) no-repeat 5px 50%; }
.right-panel .roicalculator-btn .a { background: url(/images/global/roi-icon.gif) no-repeat 5px 50%; }
.right-panel .casestudies-btn .a { background: url(/images/global/casestudies-icon.gif) no-repeat 5px 50%; }
.right-panel .screenshots-btn .a { background: url(/images/global/v1screenshots-icon.gif) no-repeat 4px 50%; }
.right-panel .agile-btn .a { background: url(/images/global/agile101-icon.gif) no-repeat 5px 50%; }
.right-panel .tvt-btn .a { background: url(/images/global/tvt-icon.gif) no-repeat 4px 50%; }
.right-panel .blog-btn .a { background: url(/images/global/blog-icon.gif) no-repeat 5px 50%; }
.right-panel .quicklinks a:hover { background: #f3f3f3 url(/images/global/quicklinks-t.gif) no-repeat; color: #cb632a; }
.right-panel .quicklinks a:hover .b { background: url(/images/global/quicklinks-b.gif) no-repeat bottom; }

#submenu { margin: 4px 7px 0 0; background: #8d0a39 url(/images/global/submenu-bg.gif) repeat-x; }
#submenu .t { background: url(/images/global/submenu-t.gif) no-repeat; }
#submenu .b { padding: 6px 10px; background: url(/images/global/submenu-b.gif) no-repeat bottom; }
#submenu ul { margin: 0; padding: 0; list-style: none; }
#submenu ul li { float: left; }
#submenu a { display: block; margin: 1px; padding: 6px; color: #fff; text-decoration: none; }
#submenu a:hover { margin: 0; background: #660829; border: 1px solid #9e1e4c; }
#submenu a.active { font-weight: bold; }

/* ================================ Footer */
#footer {
	height: 428px;
	background: url("/images/footer-bg.png") bottom repeat-x;
}
#footer .col {
	float: left;
	padding: 46px 0 0 0;
}
#footer h3 {
	font-size: 13px;
	color: #fff;
	padding-bottom: 26px
}
#footer ul {
	list-style: none;
}
#footer .get-social {
	width: 100px;
	margin-right: 50px;
}
#footer .get-social li { 
	float: left; 
	width: 33px; 
	margin: 0 17px 7px 0;
}
#footer .get-social a {
	display: block;
	width: 33px;
	height: 33px;
	background-image: url("/images/footer-sprite.png");
	background-repeat: no-repeat;
	text-indent: -9000em;
	overflow: hidden;
	-webkit-transition: background .2s ease-out .2s;
    -moz-transition: background .2s ease-out .2s;
    -o-transition: background .2s ease-out .2s;
    transition: background .2s ease-out .2s;
}
#footer .get-social .linkedin {
	background-position: 0 0;
	background-color: #84b5d1;
}
#footer .get-social .google {
	background-position: -99px 0;
	background-color: #373737;
}
#footer .get-social .twitter {
	background-position: -33px 0;
	background-color: #73ace2;
}
#footer .get-social .youtube {
	background-position: -132px 0;
	background-color: #c71e36;
}
#footer .get-social .facebook {
	background-position: -66px 0;
	background-color: #47549e;
}
#footer .get-social .blogs {
	background-position: -165px 0;
	background-color: #e8c03a;
}
#footer .get-social .linkedin:hover {
	background-position: 0 -33px;
}
#footer .get-social .google:hover {
	background-position: -99px -33px;
}
#footer .get-social .twitter:hover {
	background-position: -33px -33px;
}
#footer .get-social .youtube:hover {
	background-position: -132px -33px;
}
#footer .get-social .facebook:hover {
	background-position: -66px -33px;
}
#footer .get-social .blogs:hover {
	background-position: -165px -33px;
}
#footer .get-social a:hover {
	background-color: #efefef;
}
#footer .quick-links {
	width: 300px;
}
#footer .quick-links ul {
	float: left;
	margin-right: 50px;
}
#footer .quick-links a {
	display: block;
	padding: 0 0 8px 0;
	color: #cfcfcf;
	font-size: 13px;
	text-decoration: none;
}
#footer .quick-links a:hover {
	color: #fff;
}
#footer .popular-keywords {
}
#footer .popular-keywords ul {
	float: left;
	margin-right: 50px;
}
#footer .popular-keywords a {
	display: block;
	padding: 0 0 8px 0;
	color: #cfcfcf;
	font-size: 13px;
	text-decoration: none;
}
#footer .popular-keywords a:hover {
	color: #fff;
}
#footer .going-up {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 83px;
	background: url("/images/footer-sprite.png") -198px 0 no-repeat;
	text-indent: -9000em;
	overflow: hidden;
	-webkit-transition: background 300ms linear 200ms;
    -moz-transition: background 300ms linear 200ms;
    -o-transition: background 300ms linear 200ms;
    transition: background 300ms linear 200ms;
}
#footer .going-up:hover {
	background: url("/images/footer-sprite.png") -198px -83px no-repeat;
}
#footer .copyright {
	position: absolute;
	right: 10px;
	bottom: -420px;
	padding: 10px 78px 10px 0;
	text-align: right;
	color: #bfbfbf;
	font-size: 11px;
	line-height: 1.8em;
	background: url("/images/footer-sprite.png") 230px -115px no-repeat;
}
#footer .copyright a {
	color: #cfcfcf;
	font-size: 12px;
}
#footer .agile-made-easier {
	position: absolute;
	left: 0;
	bottom: -415px;
	padding: 14px 30px;
	border: 1px solid #565656;
	color: #eee;
	font-size: 18px;
}
/* ================================ end | Footer */
/*
#footer { padding: 10px 10px 50px 5px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 10px; color: #a29c98; }
#footer .nav { float: left; width: 45%; }
#footer .nav ul { float: left; margin: 0; padding: 0 35px 0 8px; list-style: none; }
#footer .nav ul li {  }
#footer .nav ul li a { display: block; padding: 2px 0; color: #a29c98; text-decoration: none; }
#footer .nav ul li a:hover { color: #8d0a39; }
#footer .nav ul.divider-l { border-left: 1px solid #eee; }
#footer .nav ul.divider-r { border-right: 1px solid #eee; }
#footer .social { float: left; width: 20%; }
#footer .social ul { margin: 0; padding: 0; list-style: none; }
#footer .social ul li { float: left; padding: 0 4px 4px 4px; }
#footer .copy { float: right; width: 30%; text-align: right; }
*/
/*
	 ahref icons
*/
.email-icon { display: inline; padding: 0 13px 0 0; background: url(/images/global/sm-email-icon.gif) no-repeat right; }
.blank-icon { display: inline; padding: 0 13px 0 0; background: url(/images/global/blank-icon.gif) no-repeat right; }
.pdf-icon { display: inline; padding: 0 13px 0 0; background: url(/images/global/sm-pdf-icon.gif) no-repeat right; }
.doc-icon { display: inline; padding: 0 13px 0 0; background: url(/images/global/sm-doc-icon.gif) no-repeat right; }

.important { padding: 10px; background: #efefef; text-align: center; }

.ul-layout { margin: 0; padding: 0; list-style: none; }
.ul-layout li { float: left; padding: 0 15px; width: 45%; }

.dg { margin: 15px 0; width: 100%; border-collapse: collapse; border: solid #dcdcdc; border-width: 1px 1px 0 0; }
.dg caption { background: #78082d; padding: 10px; font-size: 13px; color: #fff; text-align: left; font-weight: bold; }
.dg th { padding: 6px; background: #60554f; text-align: left; color: #fff; vertical-align: top; }
.dg td { padding: 6px; vertical-align: top; border: solid #dcdcdc; border-width: 0 0 1px 1px; }

/* Overlay */
div.overlay { width:800px; height:641px; background-image:url(/images/whitev.png); display:none; padding: 0 !important; } 
div.overlay div.close { background:url(/images/close.png) no-repeat; position:absolute; top:10px; right:10px; width:35px; height:35px; cursor:pointer; } 
.video, .video embed, .video object { height:535px; width:650px; margin: 55px 0 0 35px; } 
.video embed, .video object { z-index:10000; }
.apple_overlay { display:none; background-image:url(/images/white.png); width:690px; padding:35px; font-size:11px; }
.apple_overlay div.close { background-image:url(/images/close.png); position:absolute; right:5px; top:5px; cursor:pointer; height:35px; width:35px; }
#apple img { cursor: pointer; }
div.apple_overlay.black { background-image:url(/images/transparent.png); color:#fff; }
.contentWrap { height:500px; overflow-y:auto; }

.downloadwhyteamschoosev1-btn { display: block; float: right; background: url(/images/global/downloadwhyteamschoosev1-btn.gif) no-repeat; width: 255px; height: 30px; text-indent: -9000em; overflow: hidden; }
.downloadwhyteamschoosev1-btn:hover { background-position: bottom; }

.mini-readmore-btn { display: block; float: right; margin: 8px 0; background: url(/images/global/mini-readmore-btn.gif) no-repeat; width: 110px; height: 25px; text-indent: -9000em; overflow: hidden; }
.mini-readmore-btn:hover { background-position: bottom; }

/* CHAT WITH US */
.lpeCElement {  position: absolute; top: 35%; right: -8px; z-index: 1000; width: 57px; height: 169px; }

/* Try VersionOne */
#try-versionone-canvas { padding-top: 20px; }
#try-versionone-canvas .left { float: left; background: url(../images/try-versionone/left-bg.gif) no-repeat; width: 542px; }
#try-versionone-canvas .left .inner { padding: 40px 30px 20px 30px; }
#try-versionone-canvas .left h2 { margin: 0; padding: 0; background: url(../images/try-versionone/agile-made-easier-title.gif) no-repeat; width: 379px; height: 40px; text-indent: -9000em; overflow: hidden; }
#try-versionone-canvas .left h2.scrummadeeasier-title { margin: 0; padding: 0; background: url(../images/try-versionone/scrum-made-easier-title.gif) no-repeat !important; width: 400px; height: 40px; text-indent: -9000em; overflow: hidden; }
#try-versionone-canvas .left p { font-size: 13px; color: #000; line-height: 1.6em; }
#try-versionone-canvas .left ul { margin: 0; padding: 20px 0 0 0; list-style: none; }
#try-versionone-canvas .left ul li { padding-bottom: 15px; }
#try-versionone-canvas .left ul li a { position: relative; display: block; width: 482px; height: 76px; text-decoration: none; } 
#try-versionone-canvas .left ul li a span { display: block; position: absolute; top: 42px; left: 59px; font-size: 13px; color: #fff; }
#try-versionone-canvas .left ul .producttour a { background: url(../images/try-versionone/producttour-btn.png) no-repeat; }
#try-versionone-canvas .left ul .catalystproducttour a { background: url(../images/try-versionone/catalystproducttour-btn.png) no-repeat; }
#try-versionone-canvas .left ul .testdrive a { background: url(../images/try-versionone/testdrive-btn.png) no-repeat; }
#try-versionone-canvas .left ul .freetrial a { background: url(../images/try-versionone/freetrial-btn.png) no-repeat; }
#try-versionone-canvas .left ul .testdrive-clone a { background: url(../images/try-versionone/testdrive-btn-clone.png) no-repeat; }
#try-versionone-canvas .left ul .freetrial-clone a { background: url(../images/try-versionone/freetrial-btn-clone.png) no-repeat; }
#try-versionone-canvas .left ul .producttour-catalyst a { background: url(../images/try-versionone/producttour-catalyst-btn.png) no-repeat; }
#try-versionone-canvas .left ul .producttour-catalyst a span { display: block; position: absolute; top: 42px; left: 20px; font-size: 13px; color: #fff; }
#try-versionone-canvas .left ul .freetrial-catalyst a { background: url(../images/try-versionone/freetrial-catalyst-btn.png) no-repeat; }
#try-versionone-canvas .left ul .freetrial-catalyst a span { display: block; position: absolute; top: 42px; left: 20px; font-size: 13px; color: #fff; }

#try-versionone-canvas .right { float: right; padding-top: 10px; width: 416px; }
#try-versionone-canvas .right .taskboard-screenshot { position: relative; background: url(../images/try-versionone/taskboard-screenshot.jpg) no-repeat; width: 416px; height: 270px }
#try-versionone-canvas .right .taskboard-screenshot div { position: absolute; bottom: 5px; padding-b font-size: 11px; color: #bababa; width: 416px; text-align: center; }
#try-versionone-canvas .right .taskboard-screenshot div strong { color: #909090; }
#try-versionone-canvas .right .quote { padding-top: 15px; background: url(../images/try-versionone/start-quote.gif) no-repeat 0 15px; }
#try-versionone-canvas .right .quote blockquote { position: relative; margin: 0; padding: 10px 20px 15px 34px; font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; }
#try-versionone-canvas .right .quote .end-quote { display: block; position: absolute; bottom: 11px; left: 233px; background: url(../images/try-versionone/end-quote.gif) no-repeat; width: 17px; height: 13px; }
#try-versionone-canvas .right .quote div { padding-right: 20px; font-family: Georgia, "Times New Roman", Times, serif; text-align: right; }
#try-versionone-canvas .right .quote div h4 { margin: 0; padding: 0; font-size: 16px; color: #666; }
#try-versionone-canvas .right .quote div p { padding: 0; font-size: 12px; color: #999; }
#try-versionone-canvas .right .quote div span { display: block; font-size: 17px; color: #666; }
/* end | Try VersionOne */

/* Resources Index, agile 101 index */
.index-list-cta { padding: 15px 15px 0 0; float: right }
.index-list-cta a { display: block; background: url(/images/global/resources-index-btn.jpg) no-repeat; width: 281px; height: 30px; text-indent: -9000em; overflow: hidden; }
.index-list-cta a:hover { background-position: bottom; }

.left-index-lists { float: left; padding-top: 15px; width: 47%; }
.right-index-lists { float: left; padding: 15px 0 0 30px; width: 48%; }

.webinar-list { list-style: url(../images/global/webinar-icon.png); }
.webinar-list li { line-height: 17px; padding-bottom: 15px; font-size: 12px; }

.whitepaper-list { list-style: url(../images/global/whitepaper-icon.png); }
.whitepaper-list li { line-height: 17px; padding-bottom: 15px; font-size: 12px; }

.toolkit-list { list-style: url(../images/global/toolkit-icon.png); }
.toolkit-list li { line-height: 17px; padding-bottom: 15px; font-size: 12px; }

.agile-guides-list { list-style: url(../images/global/agile-guides-list-icon.jpg); }
.agile-guides-list li { line-height: 17px; padding-bottom: 15px; font-size: 12px; }
/* end | Resources Index, agile 101 index */

/* Agile 101 index */
.agile101-index-list-cta { padding: 15px 15px 0 0; float: right }
.agile101-index-list-cta a { display: block; background: url(/images/global/agile101-index-CTA.jpg) no-repeat; width: 197px; height: 32px; text-indent: -9000em; overflow: hidden; }
.agile101-index-list-cta a:hover { background-position: bottom; }

.agile-101-list { list-style: url(../images/global/agile-101-icon.jpg); }
.agile-101-list li { line-height: 17px; padding-bottom: 15px; font-size: 12px; }

.case-studies-list { list-style: url(../images/global/casestudies-icon.jpg); }
.case-studies-list li { line-height: 17px; padding-bottom: 15px; font-size: 12px; }

.development-training-list { list-style: url(../images/global/development-training.jpg); }
.development-training-list li { line-height: 17px; padding-bottom: 15px; font-size: 12px; }

.compare-tools-list { list-style: url(../images/global/cogwheel-icon.jpg); }
.compare-tools-list li { line-height: 17px; padding-bottom: 15px; font-size: 12px; }

.testimonials-list { list-style: url(../images/global/testimonials-icon.jpg); }
.testimonials-list li { line-height: 17px; padding-bottom: 15px; font-size: 12px; }
/* end | agile 101 index */

/* NEW Resources Section */
.resources-body {}
.resources-body .title-bar { padding: 20px 0; background: url(../images/resources/titlebar-bg.jpg) no-repeat bottom; }

.resources-menu-and-content { float: left; position: relative; width: 714px; }
.resources-menu-and-content .content-box { float: right; position: relative; }
.resources-menu-and-content .content-box .list-box-top { position: absolute; top: -15px; right: 0; background: url(../images/resources/list-box-top.png) no-repeat; width: 553px; height: 62px; }
.resources-menu-and-content .content-box .list-box-top ul { float: right; margin: 0 15px 0 0; padding: 0; list-style: none; }
.resources-menu-and-content .content-box .list-box-top ul li { float: left; margin: 15px 4px 0 0; }
.resources-menu-and-content .content-box .list-box-top a { display: block; text-indent: -9000em; overflow: hidden; height: 43px; }
.resources-menu-and-content .content-box .list-box-top .filter-mostpopular { background: url(/images/resources/filter-mostpopular-btn.gif) no-repeat; width: 119px; }
.resources-menu-and-content .content-box .list-box-top .filter-mostpopular-selected { background: url(/images/resources/filter-mostpopular-btn.gif) no-repeat bottom; width: 119px; }
.resources-menu-and-content .content-box .list-box-top .filter-whitepapers { background: url(/images/resources/filter-whitepapers-btn.gif) no-repeat; width: 119px; }
.resources-menu-and-content .content-box .list-box-top .filter-whitepapers-selected { background: url(/images/resources/filter-whitepapers-btn.gif) no-repeat bottom; width: 119px; }
.resources-menu-and-content .content-box .list-box-top .filter-webinars { background: url(/images/resources/filter-webinars-btn.gif) no-repeat; width: 100px; }
.resources-menu-and-content .content-box .list-box-top .filter-webinars-selected { background: url(/images/resources/filter-webinars-btn.gif) no-repeat bottom; width: 100px; }
.resources-menu-and-content .content-box .list-box-top .filter-archive { background: url(/images/resources/filter-archive-btn.gif) no-repeat; width: 100px; }
.resources-menu-and-content .content-box .list-box-top .filter-archive-selected { background: url(/images/resources/filter-archive-btn.gif) no-repeat bottom; width: 100px; }
.resources-menu-and-content .content-box .list-box-top .filter-tools { background: url(/images/resources/filter-tools-btn.gif) no-repeat; width: 89px; }
.resources-menu-and-content .content-box .list-box-top .filter-tools-selected { background: url(/images/resources/filter-tools-btn.gif) no-repeat bottom; width: 89px; }
.resources-menu-and-content .content-box .list-box-top a:hover { background-position: bottom; }
.resources-menu-and-content .content-box .list-box-side { margin-top: 47px; background: url(../images/resources/list-box-side.png) repeat-y; width: 553px; min-height: 1200px; }
.resources-menu-and-content .content-box .list-box-bottom { background: url(../images/resources/list-box-bottom.png) no-repeat; width: 553px; height: 11px; }

.resources-menu-and-content .content-box-wide { float: right; position: relative; }
.resources-menu-and-content .content-box-wide .list-box-top { position: absolute; top: -15px; right: 0; background: url(../images/resources/list-box-top-wide.png) no-repeat; width: 800px; height: 62px; }
.resources-menu-and-content .content-box-wide .list-box-top ul { float: right; margin: 0 15px 0 0; padding: 0; list-style: none; }
.resources-menu-and-content .content-box-wide .list-box-top ul li { float: left; margin: 15px 4px 0 0; }
.resources-menu-and-content .content-box-wide .list-box-top a { display: block; text-indent: -9000em; overflow: hidden; height: 43px; }
.resources-menu-and-content .content-box-wide .list-box-top .filter-mostpopular { background: url(/images/resources/filter-mostpopular-btn.gif) no-repeat; width: 119px; }
.resources-menu-and-content .content-box-wide .list-box-top .filter-mostpopular-selected { background: url(/images/resources/filter-mostpopular-btn.gif) no-repeat bottom; width: 119px; }
.resources-menu-and-content .content-box-wide .list-box-top .filter-whitepapers { background: url(/images/resources/filter-whitepapers-btn.gif) no-repeat; width: 119px; }
.resources-menu-and-content .content-box-wide .list-box-top .filter-whitepapers-selected { background: url(/images/resources/filter-whitepapers-btn.gif) no-repeat bottom; width: 119px; }
.resources-menu-and-content .content-box-wide .list-box-top .filter-webinars { background: url(/images/resources/filter-webinars-btn.gif) no-repeat; width: 100px; }
.resources-menu-and-content .content-box-wide .list-box-top .filter-webinars-selected { background: url(/images/resources/filter-webinars-btn.gif) no-repeat bottom; width: 100px; }
.resources-menu-and-content .content-box-wide .list-box-top .filter-archive { background: url(/images/resources/filter-archive-btn.gif) no-repeat; width: 100px; }
.resources-menu-and-content .content-box-wide .list-box-top .filter-archive-selected { background: url(/images/resources/filter-archive-btn.gif) no-repeat bottom; width: 100px; }
.resources-menu-and-content .content-box-wide .list-box-top .filter-tools { background: url(/images/resources/filter-tools-btn.gif) no-repeat; width: 89px; }
.resources-menu-and-content .content-box-wide .list-box-top .filter-tools-selected { background: url(/images/resources/filter-tools-btn.gif) no-repeat bottom; width: 89px; }
.resources-menu-and-content .content-box-wide .list-box-top a:hover { background-position: bottom; }
.resources-menu-and-content .content-box-wide .list-box-side { margin-top: 47px; background: url(../images/resources/list-box-side-wide.png) repeat-y; width: 800px; min-height: 1200px; }
.resources-menu-and-content .content-box-wide .list-box-bottom { background: url(../images/resources/list-box-bottom-wide.png) no-repeat; width: 800px; height: 11px; }

.resources-menu-and-content .resources-menu { position: absolute; top: 50px; left: 0; z-index: 20; }
.resources-menu-and-content .resources-menu ul { margin: 0; padding: 0; list-style: none; }
.resources-menu-and-content .resources-menu ul li {}
.resources-menu-and-content .resources-menu ul li a { display: block; background: url(../images/resources/left-menu-tabs.png) no-repeat; width: 170px; height: 62px; text-decoration: none; color: #00496b; font-size: 14px; }
.resources-menu-and-content .resources-menu ul li a:hover { display: block; background: url(../images/resources/left-menu-tabs.png) no-repeat bottom; width: 170px; height: 62px; color: #78082d; }
.resources-menu-and-content .resources-menu ul li a.selected { display: block; background: url(../images/resources/left-menu-tabs.png) no-repeat bottom; width: 170px; height: 62px; color: #78082d; }
.resources-menu-and-content .resources-menu ul li a span { display: block; padding: 21px 20px 0 20px; }
.resources-menu-and-content .resources-menu ul li a span.lg { display: block; padding: 13px 30px 0 20px; }

.resources-list { margin: 0; padding: 0; list-style: none; }
.resources-list li.toolkit { background: url(/images/resources/tools-icon.gif) no-repeat 6px 18px; }
.resources-list li.whitepaper { background: url(/images/resources/whitepapers-icon.gif) no-repeat 6px 18px; }
.resources-list li.webinar { background: url(/images/resources/webinars-icon.gif) no-repeat 6px 18px; }
.resources-list li { margin: 0 15px; padding: 5px 0 5px 30px; }
.resources-list li .line { margin-bottom: 10px; padding: 10px 0 10px 20px; border-left: 1px solid #ccc; }
.resources-list li .line:hover { margin-bottom: 10px; padding: 10px 0 10px 20px; border-left: 1px solid #3eaadc; }
.resources-list li h3 { margin: 0; padding: 10px 0; font-size: 16px; color: #000; }
.resources-list li h3 span { display: block; padding: 3px 0 0 0; font-size: 12px; color: #999; }
.resources-list li p { color: #444; }
.resources-list li .requestnow { display: block; float: left; margin-right: 10px; background: url(/images/resources/request-more-btn.gif) no-repeat; width: 103px; height: 26px; text-indent: -9000em; overflow: hidden; }
.resources-list li .requestnow:hover { background-position: bottom; }
.resources-list li .watchnow { display: block; float: left; margin-right: 10px; background: url(/images/resources/watch-now-btn.gif) no-repeat; width: 103px; height: 26px; text-indent: -9000em; overflow: hidden; }
.resources-list li .watchnow:hover { background-position: bottom; }
.resources-list li .readnow { display: block; float: left; margin-right: 10px; background: url(/images/resources/read-now-btn.gif) no-repeat; width: 103px; height: 26px; text-indent: -9000em; overflow: hidden; }
.resources-list li .readnow:hover { background-position: bottom; }

.resources-ctas { float: right; width: 240px; }
.resources-ctas h4 { margin: 0; padding: 10px 0; font-size: 17px; color: #ccc; }
.resources-ctas .ctas { margin: 0; padding: 0; list-style: none; }
.resources-ctas .ctas li { padding-bottom: 10px; }
.resources-ctas .ctas li a { display: block; background: url(/images/resources/ctas-btn.gif) no-repeat; width: 205px; height: 49px; text-decoration: none; }
.resources-ctas .ctas li a h3 { margin: 0; padding: 6px 0 0 10px; font-size: 14px; font-weight: normal; color: #00496b; }
.resources-ctas .ctas li a span { display: block; padding-left: 10px; font-size: 12px; color: #636363; }
.resources-ctas .ctas li a:hover { background-position: bottom; }
.resources-ctas .ctas li a:hover h3 { margin: 0; padding: 6px 0 0 10px; font-size: 14px; font-weight: normal; color: #fff; }
.resources-ctas .ctas li a:hover span { display: block; padding-left: 10px; font-size: 12px; color: #eee; }
.resources-ctas blockquote { margin: 10px 0 0 0; padding: 0 35px 0 35px; background: url(/images/resources/left-lg-quote.gif) no-repeat; font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; color: #666; }
.resources-ctas blockquote p { line-height: 1.6em; }
.resources-ctas blockquote h4, .resources-ctas blockquote h5, .resources-ctas blockquote h6 { margin: 0; padding: 0; text-align: right; }
.resources-ctas blockquote h4 { font-size: 16px; font-weight: bold; color: #858585; }
.resources-ctas blockquote h5 { font-size: 12px; font-weight: normal; color: #aaa; }
.resources-ctas blockquote h6 { font-size: 17px; font-weight: bold; color: #666; }
.resources-ctas .quicklinks { margin: 0; padding: 0; list-style: none; }
.resources-ctas .quicklinks a { display: block; padding: 5px 5px 5px 30px; font-size: 12px; }
.resources-ctas .quicklinks .live-product-demos { background: url(/images/resources/quicklinks-live-product-demos.png) no-repeat 2px 3px; }
.resources-ctas .quicklinks .live-product-demos:hover { background: #2297ca url(/images/resources/quicklinks-live-product-demos.png) no-repeat 2px -23px; color: #fff; }
.resources-ctas .quicklinks .product-videos { background: url(/images/resources/quicklinks-product-videos.png) no-repeat 0 1px; }
.resources-ctas .quicklinks .product-videos:hover { background: #2297ca url(/images/resources/quicklinks-product-videos.png) no-repeat 0 -25px; color: #fff; }
.resources-ctas .quicklinks .case-studies { background: url(/images/resources/quicklinks-case-studies.png) no-repeat 0 0; }
.resources-ctas .quicklinks .case-studies:hover { background: #2297ca url(/images/resources/quicklinks-case-studies.png) no-repeat 0 -25px; color: #fff; }
.resources-ctas .quicklinks .agile101 { background: url(/images/resources/quicklinks-agile101.png) no-repeat 0 3px; }
.resources-ctas .quicklinks .agile101:hover { background: #2297ca url(/images/resources/quicklinks-agile101.png) no-repeat 0 -23px; color: #fff; }
.resources-ctas .quicklinks .blogs { background: url(/images/resources/quicklinks-blogs.png) no-repeat 0 3px; }
.resources-ctas .quicklinks .blogs:hover { background: #2297ca url(/images/resources/quicklinks-blogs.png) no-repeat 0 -23px; color: #fff; }

/* end | NEW Resources Section */