.ui-icon-refresh  { background:  url(images/01-refresh.png) 50% 50% no-repeat;  background-size: 24px 26px; }
.ui-icon-redo  { background:  url(images/02-redo.png) 50% 50% no-repeat;  background-size: 30px 26px; }
.ui-icon-loopback  { background:  url(images/03-loopback.png) 50% 50% no-repeat;  background-size: 32px 22px; }
.ui-icon-squiggle  { background:  url(images/04-squiggle.png) 50% 50% no-repeat;  background-size: 33px 16px; }
.ui-icon-shuffle  { background:  url(images/05-shuffle.png) 50% 50% no-repeat;  background-size: 28px 20px; }
.ui-icon-magnify  { background:  url(images/06-magnify.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-map-marker  { background:  url(images/07-map-marker.png) 50% 50% no-repeat;  background-size: 16px 26px; }
.ui-icon-chat  { background:  url(images/08-chat.png) 50% 50% no-repeat;  background-size: 24px 22px; }
.ui-icon-chat-2  { background:  url(images/09-chat-2.png) 50% 50% no-repeat;  background-size: 24px 22px; }
.ui-icon-medical  { background:  url(images/10-medical.png) 50% 50% no-repeat;  background-size: 22px 22px; }
.ui-icon-coffee  { background:  url(images/100-coffee.png) 50% 50% no-repeat;  background-size: 20px 24px; }
.ui-icon-gameplan  { background:  url(images/101-gameplan.png) 50% 50% no-repeat;  background-size: 28px 28px; }
.ui-icon-walk  { background:  url(images/102-walk.png) 50% 50% no-repeat;  background-size: 14px 27px; }
.ui-icon-map  { background:  url(images/103-map.png) 50% 50% no-repeat;  background-size: 26px 21px; }
.ui-icon-index-cards  { background:  url(images/104-index-cards.png) 50% 50% no-repeat;  background-size: 26px 17px; }
.ui-icon-piano  { background:  url(images/105-piano.png) 50% 50% no-repeat;  background-size: 23px 22px; }
.ui-icon-sliders  { background:  url(images/106-sliders.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-widescreen  { background:  url(images/107-widescreen.png) 50% 50% no-repeat;  background-size: 30px 19px; }
.ui-icon-badge  { background:  url(images/108-badge.png) 50% 50% no-repeat;  background-size: 21px 26px; }
.ui-icon-chicken  { background:  url(images/109-chicken.png) 50% 50% no-repeat;  background-size: 28px 12px; }
.ui-icon-clock  { background:  url(images/11-clock.png) 50% 50% no-repeat;  background-size: 25px 25px; }
.ui-icon-bug  { background:  url(images/110-bug.png) 50% 50% no-repeat;  background-size: 22px 23px; }
.ui-icon-user  { background:  url(images/111-user.png) 50% 50% no-repeat;  background-size: 24px 21px; }
.ui-icon-group  { background:  url(images/112-group.png) 50% 50% no-repeat;  background-size: 32px 21px; }
.ui-icon-navigation  { background:  url(images/113-navigation.png) 50% 50% no-repeat;  background-size: 28px 28px; }
.ui-icon-balloon  { background:  url(images/114-balloon.png) 50% 50% no-repeat;  background-size: 20px 26px; }
.ui-icon-bow-and-arrow  { background:  url(images/115-bow-and-arrow.png) 50% 50% no-repeat;  background-size: 23px 29px; }
.ui-icon-controller  { background:  url(images/116-controller.png) 50% 50% no-repeat;  background-size: 30px 20px; }
.ui-icon-todo  { background:  url(images/117-todo.png) 50% 50% no-repeat;  background-size: 18px 19px; }
.ui-icon-coat-hanger  { background:  url(images/118-coat-hanger.png) 50% 50% no-repeat;  background-size: 32px 20px; }
.ui-icon-piggy-bank  { background:  url(images/119-piggy-bank.png) 50% 50% no-repeat;  background-size: 27px 20px; }
.ui-icon-eye  { background:  url(images/12-eye.png) 50% 50% no-repeat;  background-size: 24px 16px; }
.ui-icon-headphones  { background:  url(images/120-headphones.png) 50% 50% no-repeat;  background-size: 22px 21px; }
.ui-icon-landscape  { background:  url(images/121-landscape.png) 50% 50% no-repeat;  background-size: 24px 18px; }
.ui-icon-stats  { background:  url(images/122-stats.png) 50% 50% no-repeat;  background-size: 27px 19px; }
.ui-icon-id-card  { background:  url(images/123-id-card.png) 50% 50% no-repeat;  background-size: 24px 17px; }
.ui-icon-bullhorn  { background:  url(images/124-bullhorn.png) 50% 50% no-repeat;  background-size: 24px 17px; }
.ui-icon-food  { background:  url(images/125-food.png) 50% 50% no-repeat;  background-size: 29px 23px; }
.ui-icon-moon  { background:  url(images/126-moon.png) 50% 50% no-repeat;  background-size: 19px 22px; }
.ui-icon-sock  { background:  url(images/127-sock.png) 50% 50% no-repeat;  background-size: 17px 24px; }
.ui-icon-bone  { background:  url(images/128-bone.png) 50% 50% no-repeat;  background-size: 30px 13px; }
.ui-icon-golf  { background:  url(images/129-golf.png) 50% 50% no-repeat;  background-size: 29px 26px; }
.ui-icon-target  { background:  url(images/13-target.png) 50% 50% no-repeat;  background-size: 28px 28px; }
.ui-icon-dice  { background:  url(images/130-dice.png) 50% 50% no-repeat;  background-size: 35px 28px; }
.ui-icon-tower  { background:  url(images/131-tower.png) 50% 50% no-repeat;  background-size: 15px 24px; }
.ui-icon-ghost  { background:  url(images/132-ghost.png) 50% 50% no-repeat;  background-size: 20px 24px; }
.ui-icon-ufo  { background:  url(images/133-ufo.png) 50% 50% no-repeat;  background-size: 24px 26px; }
.ui-icon-viking  { background:  url(images/134-viking.png) 50% 50% no-repeat;  background-size: 26px 17px; }
.ui-icon-hockeymask  { background:  url(images/135-hockeymask.png) 50% 50% no-repeat;  background-size: 20px 26px; }
.ui-icon-tractor  { background:  url(images/136-tractor.png) 50% 50% no-repeat;  background-size: 35px 25px; }
.ui-icon-presentation  { background:  url(images/137-presentation.png) 50% 50% no-repeat;  background-size: 28px 26px; }
.ui-icon-scales  { background:  url(images/138-scales.png) 50% 50% no-repeat;  background-size: 26px 20px; }
.ui-icon-flags  { background:  url(images/139-flags.png) 50% 50% no-repeat;  background-size: 42px 21px; }
.ui-icon-tag  { background:  url(images/14-tag.png) 50% 50% no-repeat;  background-size: 22px 22px; }
.ui-icon-gradhat  { background:  url(images/140-gradhat.png) 50% 50% no-repeat;  background-size: 30px 23px; }
.ui-icon-lamp  { background:  url(images/141-lamp.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-wine-bottle  { background:  url(images/142-wine-bottle.png) 50% 50% no-repeat;  background-size: 10px 28px; }
.ui-icon-liquor-bottle  { background:  url(images/143-liquor-bottle.png) 50% 50% no-repeat;  background-size: 16px 24px; }
.ui-icon-martini  { background:  url(images/144-martini.png) 50% 50% no-repeat;  background-size: 22px 24px; }
.ui-icon-persondot  { background:  url(images/145-persondot.png) 50% 50% no-repeat;  background-size: 24px 26px; }
.ui-icon-gavel  { background:  url(images/146-gavel.png) 50% 50% no-repeat;  background-size: 23px 23px; }
.ui-icon-popsicle  { background:  url(images/147-popsicle.png) 50% 50% no-repeat;  background-size: 16px 27px; }
.ui-icon-doghouse  { background:  url(images/148-doghouse.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-windmill  { background:  url(images/149-windmill.png) 50% 50% no-repeat;  background-size: 24px 30px; }
.ui-icon-tags  { background:  url(images/15-tags.png) 50% 50% no-repeat;  background-size: 24px 25px; }
.ui-icon-sailboat  { background:  url(images/150-sailboat.png) 50% 50% no-repeat;  background-size: 26px 24px; }
.ui-icon-telescope  { background:  url(images/151-telescope.png) 50% 50% no-repeat;  background-size: 23px 24px; }
.ui-icon-rolodex  { background:  url(images/152-rolodex.png) 50% 50% no-repeat;  background-size: 26px 18px; }
.ui-icon-guitar  { background:  url(images/153-guitar.png) 50% 50% no-repeat;  background-size: 26px 26px; }
.ui-icon-necktie  { background:  url(images/154-necktie.png) 50% 50% no-repeat;  background-size: 8px 27px; }
.ui-icon-bowtie  { background:  url(images/155-bowtie.png) 50% 50% no-repeat;  background-size: 30px 15px; }
.ui-icon-controlpad  { background:  url(images/156-controlpad.png) 50% 50% no-repeat;  background-size: 30px 23px; }
.ui-icon-wrench  { background:  url(images/157-wrench.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-wrench-2  { background:  url(images/158-wrench-2.png) 50% 50% no-repeat;  background-size: 22px 22px; }
.ui-icon-voicemail  { background:  url(images/159-voicemail.png) 50% 50% no-repeat;  background-size: 32px 14px; }
.ui-icon-line-chart  { background:  url(images/16-line-chart.png) 50% 50% no-repeat;  background-size: 30px 24px; }
.ui-icon-voicemail-2  { background:  url(images/160-voicemail-2.png) 50% 50% no-repeat;  background-size: 26px 18px; }
.ui-icon-calculator  { background:  url(images/161-calculator.png) 50% 50% no-repeat;  background-size: 22px 28px; }
.ui-icon-receipt  { background:  url(images/162-receipt.png) 50% 50% no-repeat;  background-size: 17px 23px; }
.ui-icon-glasses-1  { background:  url(images/163-glasses-1.png) 50% 50% no-repeat;  background-size: 30px 23px; }
.ui-icon-glasses-2  { background:  url(images/164-glasses-2.png) 50% 50% no-repeat;  background-size: 30px 22px; }
.ui-icon-glasses-3  { background:  url(images/165-glasses-3.png) 50% 50% no-repeat;  background-size: 32px 12px; }
.ui-icon-newspaper  { background:  url(images/166-newspaper.png) 50% 50% no-repeat;  background-size: 28px 23px; }
.ui-icon-upload-photo  { background:  url(images/167-upload-photo.png) 50% 50% no-repeat;  background-size: 24px 17px; }
.ui-icon-upload-photo-2  { background:  url(images/168-upload-photo-2.png) 50% 50% no-repeat;  background-size: 22px 25px; }
.ui-icon-8ball  { background:  url(images/169-8ball.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-bar-chart  { background:  url(images/17-bar-chart.png) 50% 50% no-repeat;  background-size: 29px 24px; }
.ui-icon-butterfly  { background:  url(images/170-butterfly.png) 50% 50% no-repeat;  background-size: 26px 24px; }
.ui-icon-sun  { background:  url(images/171-sun.png) 50% 50% no-repeat;  background-size: 28px 28px; }
.ui-icon-pricetag  { background:  url(images/172-pricetag.png) 50% 50% no-repeat;  background-size: 28px 23px; }
.ui-icon-eyedropper  { background:  url(images/173-eyedropper.png) 50% 50% no-repeat;  background-size: 12px 28px; }
.ui-icon-imac  { background:  url(images/174-imac.png) 50% 50% no-repeat;  background-size: 26px 24px; }
.ui-icon-macbook  { background:  url(images/175-macbook.png) 50% 50% no-repeat;  background-size: 26px 21px; }
.ui-icon-ipad  { background:  url(images/176-ipad.png) 50% 50% no-repeat;  background-size: 22px 28px; }
.ui-icon-building  { background:  url(images/177-building.png) 50% 50% no-repeat;  background-size: 14px 24px; }
.ui-icon-city  { background:  url(images/178-city.png) 50% 50% no-repeat;  background-size: 23px 27px; }
.ui-icon-notepad  { background:  url(images/179-notepad.png) 50% 50% no-repeat;  background-size: 16px 22px; }
.ui-icon-envelope  { background:  url(images/18-envelope.png) 50% 50% no-repeat;  background-size: 24px 16px; }
.ui-icon-stickynote  { background:  url(images/180-stickynote.png) 50% 50% no-repeat;  background-size: 22px 22px; }
.ui-icon-hammer  { background:  url(images/181-hammer.png) 50% 50% no-repeat;  background-size: 14px 26px; }
.ui-icon-messenger-bag  { background:  url(images/182-messenger-bag.png) 50% 50% no-repeat;  background-size: 34px 18px; }
.ui-icon-genie-lamp  { background:  url(images/183-genie-lamp.png) 50% 50% no-repeat;  background-size: 33px 20px; }
.ui-icon-warning  { background:  url(images/184-warning.png) 50% 50% no-repeat;  background-size: 24px 19px; }
.ui-icon-printer  { background:  url(images/185-printer.png) 50% 50% no-repeat;  background-size: 24px 21px; }
.ui-icon-ruler  { background:  url(images/186-ruler.png) 50% 50% no-repeat;  background-size: 23px 23px; }
.ui-icon-pencil  { background:  url(images/187-pencil.png) 50% 50% no-repeat;  background-size: 23px 23px; }
.ui-icon-paint-roller  { background:  url(images/188-paint-roller.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-plant  { background:  url(images/189-plant.png) 50% 50% no-repeat;  background-size: 26px 25px; }
.ui-icon-gear  { background:  url(images/19-gear.png) 50% 50% no-repeat;  background-size: 26px 26px; }
.ui-icon-bank  { background:  url(images/190-bank.png) 50% 50% no-repeat;  background-size: 26px 22px; }
.ui-icon-collection  { background:  url(images/191-collection.png) 50% 50% no-repeat;  background-size: 26px 20px; }
.ui-icon-credit-card  { background:  url(images/192-credit-card.png) 50% 50% no-repeat;  background-size: 28px 18px; }
.ui-icon-location-arrow  { background:  url(images/193-location-arrow.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-note-2  { background:  url(images/194-note-2.png) 50% 50% no-repeat;  background-size: 23px 23px; }
.ui-icon-barcode  { background:  url(images/195-barcode.png) 50% 50% no-repeat;  background-size: 24px 18px; }
.ui-icon-radiation  { background:  url(images/196-radiation.png) 50% 50% no-repeat;  background-size: 18px 16px; }
.ui-icon-card-diamonds  { background:  url(images/197-card-diamonds.png) 50% 50% no-repeat;  background-size: 16px 24px; }
.ui-icon-card-spades  { background:  url(images/198-card-spades.png) 50% 50% no-repeat;  background-size: 16px 24px; }
.ui-icon-card-hearts  { background:  url(images/199-card-hearts.png) 50% 50% no-repeat;  background-size: 16px 24px; }
.ui-icon-gear2  { background:  url(images/20-gear2.png) 50% 50% no-repeat;  background-size: 26px 28px; }
.ui-icon-card-clubs  { background:  url(images/200-card-clubs.png) 50% 50% no-repeat;  background-size: 16px 24px; }
.ui-icon-skull  { background:  url(images/21-skull.png) 50% 50% no-repeat;  background-size: 16px 18px; }
.ui-icon-skull-n-bones  { background:  url(images/22-skull-n-bones.png) 50% 50% no-repeat;  background-size: 30px 32px; }
.ui-icon-bird  { background:  url(images/23-bird.png) 50% 50% no-repeat;  background-size: 25px 24px; }
.ui-icon-gift  { background:  url(images/24-gift.png) 50% 50% no-repeat;  background-size: 22px 26px; }
.ui-icon-weather  { background:  url(images/25-weather.png) 50% 50% no-repeat;  background-size: 24px 26px; }
.ui-icon-bandaid  { background:  url(images/26-bandaid.png) 50% 50% no-repeat;  background-size: 26px 26px; }
.ui-icon-planet  { background:  url(images/27-planet.png) 50% 50% no-repeat;  background-size: 29px 18px; }
.ui-icon-star  { background:  url(images/28-star.png) 50% 50% no-repeat;  background-size: 26px 26px; }
.ui-icon-heart  { background:  url(images/29-heart.png) 50% 50% no-repeat;  background-size: 24px 21px; }
.ui-icon-key  { background:  url(images/30-key.png) 50% 50% no-repeat;  background-size: 12px 26px; }
.ui-icon-ipod  { background:  url(images/31-ipod.png) 50% 50% no-repeat;  background-size: 17px 29px; }
.ui-icon-iphone  { background:  url(images/32-iphone.png) 50% 50% no-repeat;  background-size: 16px 28px; }
.ui-icon-cabinet  { background:  url(images/33-cabinet.png) 50% 50% no-repeat;  background-size: 20px 26px; }
.ui-icon-coffee  { background:  url(images/34-coffee.png) 50% 50% no-repeat;  background-size: 24px 26px; }
.ui-icon-shopping  { background:  url(images/35-shopping.png) 50% 50% no-repeat;  background-size: 24px 22px; }
.ui-icon-toolbox  { background:  url(images/36-toolbox.png) 50% 50% no-repeat;  background-size: 26px 20px; }
.ui-icon-suitcase  { background:  url(images/37-suitcase.png) 50% 50% no-repeat;  background-size: 26px 22px; }
.ui-icon-airplane  { background:  url(images/38-airplane.png) 50% 50% no-repeat;  background-size: 22px 24px; }
.ui-icon-spraycan  { background:  url(images/39-spraycan.png) 50% 50% no-repeat;  background-size: 16px 24px; }
.ui-icon-inbox  { background:  url(images/40-inbox.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-picture-frame  { background:  url(images/41-picture-frame.png) 50% 50% no-repeat;  background-size: 24px 26px; }
.ui-icon-photos  { background:  url(images/42-photos.png) 50% 50% no-repeat;  background-size: 22px 24px; }
.ui-icon-film-roll  { background:  url(images/43-film-roll.png) 50% 50% no-repeat;  background-size: 26px 22px; }
.ui-icon-shoebox  { background:  url(images/44-shoebox.png) 50% 50% no-repeat;  background-size: 24px 22px; }
.ui-icon-movie-1  { background:  url(images/45-movie-1.png) 50% 50% no-repeat;  background-size: 19px 25px; }
.ui-icon-movie-2  { background:  url(images/46-movie-2.png) 50% 50% no-repeat;  background-size: 20px 25px; }
.ui-icon-fuel  { background:  url(images/47-fuel.png) 50% 50% no-repeat;  background-size: 28px 24px; }
.ui-icon-fork-and-knife  { background:  url(images/48-fork-and-knife.png) 50% 50% no-repeat;  background-size: 18px 26px; }
.ui-icon-battery  { background:  url(images/49-battery.png) 50% 50% no-repeat;  background-size: 26px 14px; }
.ui-icon-beaker  { background:  url(images/50-beaker.png) 50% 50% no-repeat;  background-size: 18px 22px; }
.ui-icon-outlet  { background:  url(images/51-outlet.png) 50% 50% no-repeat;  background-size: 24px 20px; }
.ui-icon-pine-tree  { background:  url(images/52-pine-tree.png) 50% 50% no-repeat;  background-size: 18px 24px; }
.ui-icon-house  { background:  url(images/53-house.png) 50% 50% no-repeat;  background-size: 22px 22px; }
.ui-icon-lock  { background:  url(images/54-lock.png) 50% 50% no-repeat;  background-size: 20px 24px; }
.ui-icon-network  { background:  url(images/55-network.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-cloud  { background:  url(images/56-cloud.png) 50% 50% no-repeat;  background-size: 24px 16px; }
.ui-icon-download  { background: url(images/download.png) 50% 50% no-repeat; background-size: 24px 24px; }
.ui-icon-bookmark  { background:  url(images/58-bookmark.png) 50% 50% no-repeat; background-size: 10px 26px; }
.ui-icon-flag  { background:  url(images/59-flag.png) 50% 50% no-repeat;  background-size: 18px 26px; }
.ui-icon-signpost  { background:  url(images/60-signpost.png) 50% 50% no-repeat; background-size: 22px 28px; }
.ui-icon-brightness  { background:  url(images/61-brightness.png) 50% 50% no-repeat;  background-size: 20px 20px; }
.ui-icon-contrast  { background:  url(images/62-contrast.png) 50% 50% no-repeat;  background-size: 20px 20px; }
.ui-icon-runner  { background:  url(images/63-runner.png) 50% 50% no-repeat;  background-size: 18px 25px; }
.ui-icon-zap  { background:  url(images/64-zap.png) 50% 50% no-repeat;  background-size: 12px 24px; }
.ui-icon-note  { background:  url(images/65-note.png) 50% 50% no-repeat;  background-size: 15px 24px; }
.ui-icon-microphone  { background:  url(images/66-microphone.png) 50% 50% no-repeat;  background-size: 12px 24px; }
.ui-icon-tshirt  { background:  url(images/67-tshirt.png) 50% 50% no-repeat;  background-size: 26px 18px; }
.ui-icon-paperclip  { background:  url(images/68-paperclip.png) 50% 50% no-repeat;  background-size: 14px 26px; }
.ui-icon-display  { background:  url(images/69-display.png) 50% 50% no-repeat;  background-size: 22px 20px; }
.ui-icon-tv  { background:  url(images/70-tv.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-compass  { background:  url(images/71-compass.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-pin  { background:  url(images/72-pin.png) 50% 50% no-repeat;  background-size: 10px 20px; }
.ui-icon-radar  { background:  url(images/73-radar.png) 50% 50% no-repeat;  background-size: 27px 27px; }
.ui-icon-location  { background:  url(images/74-location.png) 50% 50% no-repeat;  background-size: 20px 20px; }
.ui-icon-phone  { background:  url(images/75-phone.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-baby  { background:  url(images/76-baby.png) 50% 50% no-repeat;  background-size: 18px 26px; }
.ui-icon-ekg  { background:  url(images/77-ekg.png) 50% 50% no-repeat;  background-size: 26px 22px; }
.ui-icon-stopwatch  { background:  url(images/78-stopwatch.png) 50% 50% no-repeat;  background-size: 22px 26px; }
.ui-icon-medical-bag  { background:  url(images/79-medical-bag.png) 50% 50% no-repeat;  background-size: 24px 20px; }
.ui-icon-shopping-cart  { background:  url(images/80-shopping-cart.png) 50% 50% no-repeat;  background-size: 26px 19px; }
.ui-icon-dashboard  { background:  url(images/81-dashboard.png) 50% 50% no-repeat;  background-size: 28px 28px; }
.ui-icon-dog-paw  { background:  url(images/82-dog-paw.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-calendar  { background:  url(images/83-calendar.png) 50% 50% no-repeat;  background-size: 23px 25px; }
.ui-icon-lightbulb  { background:  url(images/84-lightbulb.png) 50% 50% no-repeat;  background-size: 14px 21px; }
.ui-icon-trophy  { background:  url(images/85-trophy.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-camera  { background:  url(images/86-camera.png) 50% 50% no-repeat;  background-size: 24px 18px; }
.ui-icon-wine-glass  { background:  url(images/87-wine-glass.png) 50% 50% no-repeat;  background-size: 14px 24px; }
.ui-icon-beer-mug  { background:  url(images/88-beer-mug.png) 50% 50% no-repeat;  background-size: 22px 27px; }
.ui-icon-dumbell  { background:  url(images/89-dumbell.png) 50% 50% no-repeat;  background-size: 28px 10px; }
.ui-icon-life-buoy  { background:  url(images/90-life-buoy.png) 50% 50% no-repeat;  background-size: 24px 24px; }
.ui-icon-beaker-2  { background:  url(images/91-beaker-2.png) 50% 50% no-repeat;  background-size: 20px 24px; }
.ui-icon-test-tube  { background:  url(images/92-test-tube.png) 50% 50% no-repeat;  background-size: 12px 26px; }
.ui-icon-thermometer  { background:  url(images/93-thermometer.png) 50% 50% no-repeat;  background-size: 12px 28px; }
.ui-icon-pill  { background:  url(images/94-pill.png) 50% 50% no-repeat;  background-size: 30px 12px; }
.ui-icon-equalizer  { background:  url(images/95-equalizer.png) 50% 50% no-repeat;  background-size: 26px 24px; }
.ui-icon-book  { background:  url(images/96-book.png) 50% 50% no-repeat;  background-size: 18px 26px; }
.ui-icon-puzzle  { background:  url(images/97-puzzle.png) 50% 50% no-repeat;  background-size: 28px 25px; }
.ui-icon-palette  { background:  url(images/98-palette.png) 50% 50% no-repeat;  background-size: 24px 20px; }
.ui-icon-umbrella  { background:  url(images/99-umbrella.png) 50% 50% no-repeat;  background-size: 24px 26px; }

#navContainer {
	margin-bottom: 4px;	
}

/* Forces the nav buttons not to overlay the icon buttons, overriding responsive css file! */
.prev, .next {
  top: 35px;
}